<%- include('partials/header.ejs') %>

    <script src="/js/search.js"></script>

    <h4>♪ Find an album... </h4>
     <input type="text" id="albumSearch" placeholder="Title, artist, or genre"> 
     <input type="text" id="priceSearch" placeholder="Price is less than..."> 
     </div>
     <br /> <br />
    <h5>Recommended album: </h5>
    
    <!-- Searched for albums show here. Default before search is a randomly selected album. -->
    
    <div id="checkboxContainer">
        <input class="checkBox" type="checkbox" id="rock" name="rock" value="rock"> Rock </input> 
        <input class="checkBox" type="checkbox" id="pop" name="pop" value="pop"> Pop </input> 
        <input class="checkBox" type="checkbox" id="classical" name="classical" value="classical"> Classical </input> 
        <input class="checkBox" type="checkbox" id="jazz" name="jazz" value="jazz"> Jazz </input> 
        <input class="checkBox" type="checkbox" id="blues" name="blues" value="blues"> Blues </input> 
    </div> <br /> <br />
    
    
    
    <div id="resultsContainer">
        <div class="column" id="column1"></div>
        <div class="column" id="column2"></div>
        <div class="column" id="column3"></div>
    </div>
    
    <!--To clear float in column-->
    <span id="after"></span>
    
<%- include('partials/footer.ejs') %>